{% extends "layout.html" %}
{% block body %}

    <div>
        <!-- <p id="random_word">random word: {{random_word}}</p> -->
    </div>

    <div class="center">
        <form method="post">
            <input class="wordle-input" type="text" name="guess" id="guess">
            <input class="submit-guess" type="submit" value="Guess">
        </form>
    </div>

    <div class="center">
        {% for guess in prev_guess %}
        {{ guess }} <br>
        {% endfor %}
    </div>

{% endblock %}